.subheading-wrapper {
  text-align: center;
}

.subheading {
  color: #424242;
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0;
}

@media screen and (max-width: 720px) {
  .subheading {
    font-size: 1.5rem;
  }
}
